.header .div_header {
    background-color: #4663ac;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px;
}

.header .div_logo img {
    width: 120px;
}

.header .div_search {
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 250px;
    justify-content: space-between;
}

.header .div_search input {
    display: flex;
    border: none;
    outline: none;
    margin-left: 5px;
    width: 100%;
}

.header .div_search button {
    display: flex;
    background-color: #4285F4;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}